* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #38038f;
	--secondary-color: #fb752d;
	--primary-transparent-color: #38038faf;
	--grey-color: #3a3a3a;
	--light-grey-color: #adababdb;
	--green-color: #038e4d;
	--red-color: #e40404;
	--white-color: #ffffff;
	--black-color: #000000;
	--btn-border-radius: 0.5rem;
	--main-border-radius: 1rem;
}

body {
	font-family: "Kanit", sans-serif;
	color: var(--white-color);
}

h1,
h2,
h3 {
	font-family: "Jaro", sans-serif;
	font-size: 2rem;
	letter-spacing: 0.4rem;
}

.section-padding {
	padding: 1rem;
}

.bg-container {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url(./assets/imgs/main-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

.game-container {
	background-color: var(--light-grey-color);
	min-height: 100vh;
	text-align: center;
}

h1 {
	font-size: 2.5rem;
	color: var(--primary-color);
}

button {
	padding: 0.7rem 1rem;
	border-radius: var(--btn-border-radius);
	border: none;
	color: var(--white-color);
	margin: 1rem;
	font-size: 1.1rem;
	cursor: pointer;
	transition: transform 0.3s linear;
	border: 2px solid var(--white-color);
}

button:hover {
	transform: scale(1.2);
}

.container {
	max-width: 800px;
	margin: auto;
	padding: 1rem;
	background-color: var(--primary-transparent-color);
	border-radius: var(--main-border-radius);
	color: var(--white-color);
}

/* Start Screen ****************************************/

.start-screen {
	display: block;
	margin-top: 2rem;
}

.start-btn {
	background-color: var(--secondary-color);
	margin-top: 2rem;
}

.start-btn i {
	margin-left: 0.5rem;
}

/* Game Screen******************************** */

.game-screen {
	display: none;
	background-color: transparent;
	position: relative;
}

.game-circle {
	background-color: var(--secondary-color);
	width: 280px;
	height: 280px;
	margin: 1.5rem auto 3rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.game-circle .timer {
	font-size: 3rem;
	font-weight: bold;
}

.rosco-letter-container {
	position: absolute;
	bottom: 0;
	width: 2rem;
	height: 2rem;
	background-color: var(--primary-color);
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.active-letter {
	background-color: var(--white-color) !important;
	color: var(--primary-color);
}

.question-container {
	font-size: 1.5rem;
	position: relative;
}

.current-answer-letter {
	position: absolute;
	margin: auto;
	top: -1.5rem;
	left: calc(50% - 1.5rem);
	background-color: var(--primary-color);
	width: 3rem;
	height: 3rem;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 50%;
	text-transform: uppercase;
}

.current-question {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.current-answer {
	background-color: var(--light-grey-color) !important;
}

.correct-answered {
	background-color: var(--green-color) !important;
	/* color: var(--primary-color) !important; */
}

.wrong-answered {
	background-color: var(--red-color) !important;
	/* color: var(--primary-color) !important; */
}

input {
	width: 100%;
	max-width: 400px;
	border-radius: var(--btn-border-radius);
	padding: 0.4rem;
	border: none;
	outline: none;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: inherit;
	text-align: center;
	color: var(--primary-color);
}

.answer-btn {
	background-color: var(--primary-color);
	border: 2px solid var(--white-color);
}

.pass-btn {
	background-color: var(--secondary-color);
}

/* Final Results Screen **********************************************************/

.results-screen {
	display: none;
	margin-top: 2rem;
}

.results-screen h2 {
	margin-bottom: 1rem;
}

.correct-ans-result span {
	color: var(--green-color);
}

.wrong-ans-result span {
	color: var(--red-color);
}

.score-result span {
	color: var(--light-grey-color);
}

.try-again-btn {
	background-color: var(--secondary-color);
	margin-top: 2rem;
}
